/* general style */
*{
    box-sizing: border-box;
    
    /* primary colors  */

    --clr-form-bg : hsl(217, 28%, 15%);
    --clr-main-bg: hsl(218, 28%, 13%);
    --clr-footer-bg: hsl(216, 53%, 9%);
    --clr-test-bg: hsl(219, 30%, 18%);

    /* accent color */

    --clr-cell-to-cyan: hsl(176, 68%, 64%);
    --clr-cell-to-blue: hsl(198, 60%, 50%);
    --clr-error: hsl(0, 100%, 63%);
    --clr-white: hsl(0, 0%, 100%);
    
    /*fonts  */
    --font-bdy: 'Raleway', sans-serif;
    --font-header: 'Open Sans', sans-serif;

}

body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: var(--font-bdy);
    background-color: black;
    color: white;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 400;
}

button{
    cursor: pointer;
}

section{
    margin-block: 150px;
}
main{
    position: relative;
}
/* layout */

.container{
    padding: 1em
}

/* header layout */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1em; 
}

nav ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav img{
    width: 90px;
}

/* intro section layout */

.intro-section{
    padding: 1em;
}

.intro-section .intro-btn{
  padding: 1.2em 6em;
  margin-top: 1em;
  border-radius: 25px;
  border: none;
} 

/* features layout */
.features-section{
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features-section div{
    margin-top: 50px;
}


/* stay productive section */

.stay-productive-section{
    margin-top: 50px;
    margin-bottom: 60px
}

/* testimonial layout */
.testimonial-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin-bottom: 250px
}
.testimonails{
    width: 80%;
    padding: 1em;
    text-align: left;
    margin: 25px auto;
    
}

.testimonails .testimonail-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.testimonail-profile img{
    border-radius: 50%;
    width: 40px;
    margin-right: 10px;
}

.testimonail-profile h3{
    margin: 0;
    font-weight: 400;
}

.testimonail-profile p{
    margin: 0;
    font-weight: 100;
}
.testimonial-one{
    position: relative;
}

.quote-image{
    position: absolute;
    top: -30px;
    left: -20px;
    
}
/* form section */
.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    margin: 20px auto;
    position: absolute;
    bottom: -150px;
    left: 20px;
    right: 20px;
}

.form-section form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.form-section input,
.form-section button{
    padding: .6em .6em;
    margin-top: 1em;
    border-radius: 25px;
    border: none;
    margin-bottom: 15px;
    font-size: 1.3rem;
    text-indent: 20px;
}
.form-section .invalid-email{
    margin-left: 20px;
    align-self: flex-start;
    display: none;
    
}

/* footer layout */

footer{
    text-align: left;
    padding: 10em 2.5em 2em;
}

footer img{
    margin-right: 20px;
    text-align: center;
}

footer .socail{
    display: none;
}

footer .socail .fa-brands{
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    padding: .5em;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.socail .fa-brands:hover{
    box-shadow: var(--clr-cell-to-cyan) 0px 7px 29px 0px;
}
/* typography */

header{
    background: var(--clr-main-bg);
    font-family: var(--font-header);
}

main{
    background: var(--clr-main-bg);
}

.intro-section h3{
    font-size: 25px;
}

.intro-section .intro-btn{
    background: var(--clr-cell-to-blue);
    color: var(--clr-white)
} 



.stay-productive-section{
    text-align: left;
}

.stay-productive-content a{
    color: var(--clr-cell-to-cyan);
    display: flex;
    column-gap: 10px;
    border-bottom: 1px solid var(--clr-cell-to-cyan);
    width: fit-content;
    padding: .5em;
}

.testimonails{
    background: var(--clr-test-bg);

}

.form-section{
    background: var(--clr-form-bg);
}

.form-section button{
    background: var(--clr-cell-to-blue);
    color: var(--clr-white)
}

.form-section .invalid-email{
    color: var(--clr-error)
}

footer{
    background: var(--clr-footer-bg);
}

@media (min-width: 450px){
    
    section{
        width: 400px;
        margin: 0 auto;
    }
    nav ul{
        width: 200px;
    }

    .testimonial-section{
        width: 80%;
    }

}

@media (min-width:730px){
    header{
        padding-top: 40px;
        font-size: 1.4rem;
    }

    nav ul{
        width: 300px;
    }
    
    section{
        width: 80%;

    }
/* 
    footer{
        
    } */
    .features-section{
        max-width: 800px;
    }

    .stay-productive-section{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .stay-productive-section img{
        width: 50%;
        margin-right: 40px;
    }

    .stay-productive-section .stay-productive-content{
        width: 40%
    }
    .stay-productive-section .stay-productive-content h3{
        font-weight: 700;
        font-size: 3.5rem;
    }

    .form-section{
        padding: 2em ;
        max-width: 900px;
    }

    .form-section form{
        display: flex;
        flex-direction: row;
       justify-content: space-between;
       width: 100%
        
    }
    .form-section input{
        width: 60%;
    }


    .form-section button{
        /* padding: 1.2em 2em; */
        margin-left: 10px;
        width: 40%;
    }
    footer .container{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 40px auto;
    }

    footer .fylo-location{
        width: 400px;
    }
    footer .socail{
        display: flex;
        justify-content: space-between;
        width: 100px;
    }
}